In [1]:
import pandas as pd

In [3]:
ls

Interactive Gapminder data visualization with Bokeh.ipynb
README.md
gapminder_tidy.csv

In [4]:
data = pd.read_csv('gapminder_tidy.csv',index_col='Year')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10111 entries, 1964 to 2006
Data columns (total 7 columns):
Country            10111 non-null object
fertility          10100 non-null float64
life               10111 non-null float64
population         10108 non-null float64
child_mortality    9210 non-null float64
gdp                9000 non-null float64
region             10111 non-null object
dtypes: float64(5), object(2)
memory usage: 631.9+ KB

In [6]:
data.head()

,Country,fertility,life,population,child_mortality,gdp,region
Year,,,,,,,
1964,Afghanistan,7.671,33.639,10474903.0,339.7,1182.0,South Asia
1965,Afghanistan,7.671,34.152,10697983.0,334.1,1182.0,South Asia
1966,Afghanistan,7.671,34.662,10927724.0,328.7,1168.0,South Asia
1967,Afghanistan,7.671,35.170,11163656.0,323.3,1173.0,South Asia
1968,Afghanistan,7.671,35.674,11411022.0,318.1,1187.0,South Asia

In [7]:
data.tail()

,Country,fertility,life,population,child_mortality,gdp,region
Year,,,,,,,
2002,Åland,NaN,81.80,26257.0,NaN,NaN,Europe & Central Asia
2003,Åland,NaN,80.63,26347.0,NaN,NaN,Europe & Central Asia
2004,Åland,NaN,79.88,26530.0,NaN,NaN,Europe & Central Asia
2005,Åland,NaN,80.00,26766.0,NaN,NaN,Europe & Central Asia
2006,Åland,NaN,80.10,26923.0,NaN,NaN,Europe & Central Asia

In [9]:
data.shape

(10111, 7)